<style> 
.rightwidth{ width:340px;}
/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	line-height: 0;
}*/
</style>
<!--footer start-->




<div class="coin_footer" style="margin-top:30px;">
	<!-- <div class="coin_hint" style="border:0">
		<h2>{$info_one4.title|default="风险提示"}</h2>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$config.risk_warning}</p>
	</div> -->
	
	<div class="coin_footerbar" style="background:#282828;">
		<div class="coin_footer_nav clearfix">
			<div class="coin_nav coin_copy left">
				<p><a href="{:U('Index/index')}"><img style="width:146px;height:68px;" src="{$config.index_logo_footer}"></a></p>
			</div>
			<div class="coin_nav left">
				<h2 style="color:white;">关于我们</h2>
				<ul>
				<volist name="team" id="vo">
					<li><a href="{:U('Art/details',array('team_id'=>$vo['article_id']))}" target="_blank" class="left" style="color:white">{$vo.title}</a></li>
                </volist>
				</ul>
			</div>
			<div class="coin_nav left">
				<h2 style="color:white">帮助中心</h2>
				<ul>
                <volist name="help" id="vo">
					<li><a href="{:U('Help/index',array('id'=>$vo['id']))}" target="_blank" class="left" style="color:white">{$vo.name}</a></li>
                </volist>
				</ul>
			</div>
			<div class="coin_nav coin_nav02 left">
				<h2 class="clearfix" style="height:19px;margin-bottom:11px"><span class="left" style="color:white;">联系我们</span><!--<a href="#" id="coin_weixin" class="coin_wei left"></a>--></h2>
				<ul>
					<!-- <li>客服电话：{$config.tel|default="暂无"}</li> -->
					<li style="color:white;">客 服 QQ：{$config.qq1|default="暂无"}</li>
					<li><a href="mailto:{$config['email']}" style="color:white">客服邮箱：{$config.email|default="暂无"}</a></li>
					<li><a href="mailto:{$config['business_email']}" style="color:white">业务合作：{$config.business_email|default="暂无"}</a></li>
				</ul>
			</div>
			<div class="coin_nav coin_nav02 left rightwidth" style="position:relative;">
              <div style="float:left; padding-top:25px; padding-left:10px;" ><!--    <img style=" width:100px;" src="{$config['weixin']}"/>--></div>
              <div style=" float:left; padding-left:10px;color:white" >
				<!-- <p class="coin_phone400">{$config.tel|default="暂无"}</p> -->
				
				<!-- <p class="coin_phoneqq" style="color:white;padding-top:30px;font-size:14px">众泰网总群：{$config.qqqun1|default="暂无"}<br>众泰网一群：{$config.qqqun2|default="暂无"}<br>众泰网二群：{$config.qqqun3|default="暂无"}<br>众泰网三群：{$config.qqqun4|default="暂无"}<br><a href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq1']}&site=qq&menu=yes" target="_blank">在线客服</a></p> -->
				<!-- <p>工作日:9-19时 节假日:9-18时</p> -->
               </div>
				<!-- <div class="group" style="left:12px;margin-to
				p: 40px">
					<ul class="qq_all" style="    margin-left: 10px;">
						<li><a style="flont:left; " href="javascript:void(0)">{$config.name|default="虚拟币"}官方群<img style="margin-top:5px;" src="__PUBLIC__/Home/images/xiala.png"></a>
							<ul style="margin-left: 105px;">
								<li>{$config.name|default="虚拟币"}官方1群 {$config.qqqun1|default="暂无"}</li>
								<li>{$config.name|default="虚拟币"}官方2群 {$config.qqqun2|default="暂无"}</li>
								<li>{$config.name|default="虚拟币"}官方3群 {$config.qqqun3|default="暂无"}</li>
							</ul>
						</li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
<div class="footer_aq" style="background:#282828;width:100%;margin:0px">
	<p style="color:white">{$config.copyright|default="暂无"}</p>
	<p style="color:white">{$config.record|default="暂无"}</p>
</div>
<div id="weixin" style="position:absolute; bottom:88px; left:50%; margin-left:170px; display:block;"><!--<img src="{$config.logo}">--></div>

<script>
	$('#coin_weixin').mouseover(function(){
		$('#weixin').show();
	}).mouseout(function(){
		$('#weixin').hide();
	});
</script>
</div>
<!--footer end-->




</body></html>
